/* Importando o reset */
/* @import url(reset.css); */

/* Importando fontes do Projeto */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.image-nav{
    width: 180px;
}

.initial{
    background-position: contain;
    height: 700px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.description-initial{
    align-self: center;
    /* display: flex; */
}

.title-main{
    
}

.logo{
    font-family: 'cal sans';
    color: rgb(248, 145, 0);
}